<div class="container">
  <div class="jumbotron">
    <div class="color-mask">
      <h1>Bienvenido Martín!</h1>
      <h2>Te invitamos a celebrar la llegada de nuestro hijito:</h2>
      <h1><strong>Martín Alejandro Parry Vargas</strong></h1>
      <h3>Te estaremos esperando en:</h3>
      <h4>Av. Príncipe de Gales 7509, depto 401, La Reina</h4>
    </div>
  </div>
  <% if flash[:notice] %>
  <div class="container alert alert-success">
    <h4><span class="glyphicon glyphicon-heart"></span> <%= notice %></h4>
  </div>
  <% end %>
  <div class="gift-list text-center">
    <h1>Sugerencia de regalos!</h1>
    <h5>Por si no sabe qué traer o no quiere traer algo repetido</h5>
  </div>
  <div>
    <ul>
      <% @gifts.each do |gift| %>
        <li class="well <%= taken_class(gift) %>">
          <div class="col-md-6">
          <%= gift.name %>
          </div>
          <div class="col-md-6 details">
          <%= available_in_text(gift) %>
          <%= link_to 'Yo lo regalo!', take_gift_path(id: gift.id), class: 'btn btn-success', method: :post unless gift.taken %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
